.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: black;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 3px;
}


}
.logo img {
    width: 130px;
}
.nav {
    display: flex;
}
.nav a {
    margin-left: 32px;
}
.nav_link:hover {
    color: red;
    transition: color .1s linear;
}
.links {
    margin-left: 10px;
}
.links>a {
    font-size: smaller;
    color: white;
}
*:after {
    box-sizing: border-box
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-color: black;
    background-size: cover;
    background-image: url(https://thumbs.dreamstime.com/b/oysters-ice-lemon-black-stone-background-seafood-top-view-free-copy-space-151170855.jpg);
}
.intro_title {
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    /* text-align: left; */
    
    font-family: 'Bebas Neue', cursive;
    /* padding-top: 25px; */
    
    font-size: 130px;
    font-style: normal;
}
.color1 {
    color: red;
    font-family: 'Bebas Neue', cursive;
}
.intro_suptitle {
    color: white;
    font-size: 60px;
    /* padding-top: 220px; */
    
    font-family: 'Bebas Neue', cursive;
}
.intro_sub {
    color: white;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}
.button {
    display: inline-block;
    vertical-align: top;
    border: 2px solid red;
    padding: 15px 50px;
    color: #ffffff;
    background-color: red;
    margin-top: 50px;
}
.button:hover {
    opacity: 0.8;
    transition: .2s linear;
}
.call-me {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    right: 1320px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-me img {
    width: 50%;
    height: 50%;
}
.call-me img:hover {
    opacity: 0.6;
    transition: .1s linear;
}

/* Section */
.section {
    padding: 80px 0;
}
.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    margin-top: 30px;
    text-align: left;
}
.section_suptitle {
    font-size: 45px;
    color: red;
    font-family: 'Bebas Neue', cursive;
}
.section_title {
    font-size: 60px;
    color: black;
    font-family: 'Bebas Neue', cursive;
}
.section_title1 {
    font-size: 60px;
    color: black;
    font-family: 'Bebas Neue', cursive;
}
.image {
    background-image: url(https://template79399.motopreview.com/mt-demo/79300/79399/mt-content/uploads/2019/03/mt-1791-title-img.png);
    background-repeat: no-repeat;
    margin: 5px auto;
}
.section_text {
    size: 70px;
    color: black;
    text-align: left;
}
.section {
    width: 100%;
    background-image: url(https://sun9-14.userapi.com/impf/V9TqxL81vc7ob2XE4VJmCK9Wlv_IArvLg7hf7Q/kwxUcDr1C6g.jpg?size=1024x768&quality=96&proxy=1&sign=d4d9040be2d66342561bdaff4f8e551d&type=album);
    background-repeat: no-repeat;
    background-size: contain;
}
.box {
    width: 350px;
    height: 350px;
    background-image: url(https://template79399.motopreview.com/mt-demo/79300/79399/mt-content/uploads/2019/03/mt-1791-img01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    right: 20%;
    top: 139%;
    position: absolute;
}
.box1 {
    width: 330px;
    height: 330px;
    background-image: url(https://template79399.motopreview.com/mt-demo/79300/79399/mt-content/uploads/2019/03/mt-1791-img02.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 80%;
    top: 144%;
}